body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.grid {
  border: 1px solid;
  display: flex;
  flex-wrap: wrap;
  height: 252px;
  width: 294px;
}

.grid div {
  height: 40px;
  width: 40px;
  border: 1px solid;
  border-radius: 50%;
}

.player-one {
  background-color: blue;
  border-radius: 50%;
}

.player-two {
  background-color: red;
  border-radius: 50%;
}

.border-none {
  border: white !important;
}
